body{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.input{
    width: 10vw;
}

#bt{
    background-color: #4CAF50;
    color: white;
    padding: 0.5vw;
    margin: 8px 0;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#bt:hover {
    background-color: #45a049;
    cursor: pointer;
}