/*--------------------------

Generic elements

--------------------------*/

@font-face {
    font-family: 'LexendDeca';
    src: url('../Assets/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

:root {
    overscroll-behavior: none;
    --backgroundLightBlue: #7287ca;
    --logoBlue: #2e4798;
}

body {
    background-color: #ffffff;
    font-family: LexendDeca, sans-serif;
    margin: 0;
    padding: 0;
}

textarea:focus, input:focus {
    outline: none;
}

.pageMask {
    background-color: #ffffff;
    position: absolute;
    z-index: 14;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
}

.svgIcon {
    fill: #000;
    width: 24px;
    height: 24px;
}

.svgIcon:hover {
    fill: #ffffff;
    background-color: var(--logoBlue);
    cursor: pointer;
    transition: background-color 0.25s ease;
}

/*------> Generic grey input with box shadow <------*/
.inputStyle {
    font-family: LexendDeca, sans-serif;
    background-color: #e6e9f0;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    height: 3vh;
    min-width: fit-content;
    width: 15vw;
    max-width: 400px;
    font-size: 2vh;
    margin-bottom: 2vh;
}

/*------> Generic #2e4798 blue button <------*/
.blueButton {
    background-color: var(--logoBlue);
    color: #ffffff;
    width: 15vw;
    min-width: fit-content;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 275;
    padding: 0.5vh 0 0.8vh 0;
    margin: 2vh 0 2vh 0;
    font-size: 2vh;
    text-wrap: nowrap;
    user-select: none;
}

.blueButton:hover {
    background-color: #0b248a;
    color: #ffffff;
    cursor: pointer;
}

.hoverButton:hover {
    cursor: pointer;
    background-color: var(--backgroundLightBlue) !important;
    color: #ffffff;
    transition: background-color 0.25s ease;
}

select > option {
    font-family: LexendDeca, sans-serif;
}

/*------> Generic grey input with box shadow <------*/
.formTitle {
    font-size: 2vh;
    font-weight: 325;
    margin: 1.5vh 0 0.5vh 0;
}

.required:after {
    content: " *";
    color: red;
}

/*--------------------------

Header side

--------------------------*/

#headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
    position: absolute;
    right: 10vw;
    top: 6vw;
}

#formBulb {
    width: 2vw;
    max-width: 100px;
    margin: 1vh 0 1vh 0;
}

#formBulb:hover {
    cursor: pointer;
}

#logoutButton {
    width: fit-content;
    padding: 1% 5% 1% 5%;
    margin: 0 0 0 5%;
}

#logoutButton:hover {
    cursor: pointer;
}

/*--------------------------

Feedback Form

--------------------------*/

@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.feedbackForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: fit-content;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0 1vw 1vh 1vw;
    border: 10px solid var(--logoBlue);
    border-radius: 10px;
    animation: fadeInScaleUp 0.25s ease-out forwards;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5), 0 20px 50px rgba(0, 0, 0, 0.1);
}

#feedbackFormClose {
    font-size: 4vh;
    cursor: pointer;
    margin: 0 0 1vh 0;
}

/*------> Pop-in animation <------*/
@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*------> Pop-out animation <------*/
@keyframes popOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.feedbackFormPopIn {
    animation: popIn 0.25s forwards;
}

.feedbackFormPopOut {
    animation: popOut 0.25s forwards;
}

/*------> Responsive elements <------*/
@media only screen and (max-width: 768px) {
    #headerRight {
        right: 2vw;
        top: 6vw;
        flex-direction: row;
        align-content: flex-end;
        justify-content: flex-end;
    }

    #formBulb {
        width: 6vw;
    }

    #logoutButton {
        padding: 1% 3% 1% 3%;
        font-size: 0.75rem;
    }

    .inputStyle {
        width: 30vw;
    }

    .blueButton {
        width: 30vw;
    }

    .feedbackForm {
        width: 80vw;
        padding: 2%;
    }
}

/*--------------------------

Alert Popup

--------------------------*/

@keyframes alertPopIn {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(5px)
    }
    50% {
        transform: translateX(-5px)
    }
    75% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes alertPopOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.alertPopup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: fit-content;
    position: fixed;
    top: 40vh;
    left: 40vw;
    margin: auto;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 10px;
    animation: alertPopIn 0.1s ease-out forwards;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
}

.alertPopupPopIn {
    animation: alertPopIn 0.25s forwards;
}

.alertPopupPopOut {
    animation: alertPopOut 0.25s forwards;
}

#alertClose {
    font-size: 4vh;
    cursor: pointer;
    margin: 0 0 1vh 0;
}

/*--------------------------

Close cross positioned outside an element at its top right

--------------------------*/

.closeArrow {
    position: absolute;
    top: -50%;
    right: 2vh;
    z-index: 15;
    font-size: 6vh;
    cursor: pointer;
}

/*--------------------------

Hover popup for text that is too long

--------------------------*/

.hoverText {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

/*--------------------------

Hover popup for text that is too long

--------------------------*/

.fablabBlueGradient {
    background: linear-gradient(219deg, #ffffff, #7287ca, var(--logoBlue)) !important;
    background-size: 600% 600%;
}

.fire {
    background: linear-gradient(500deg, #ffffff, #c13206, #98412e) !important;
    background-size: 600% 600%;
}

.leaf {
    background: linear-gradient(150deg, #ffffff, #35c106, #1b6e03) !important;
    background-size: 600% 600%;
}

.earth {
    background: linear-gradient(40deg, #ffffff, #9e7f32, #6e5903) !important;
    background-size: 600% 600%;
}

/*--------------------------

Order element styling

--------------------------*/

.orderElement {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    padding: 2%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.1s ease;
    opacity: 0;
    transform: scale(0.9);
    overflow: hidden;
    box-sizing: border-box;
}

.orderElement.active {
    opacity: 1;
    transform: scale(1);
}

.orderElementState {
    font-size: 2em;
    border-radius: 10px;
    padding: 0.5%;
}

.orderElementBody {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.orderElementName {
    font-size: 2rem;
    width: 100%;
}

.orderElementDate {
    font-size: 0.7em;
    margin-bottom: 2rem;
}

.orderElementOverviewTitle {
    font-size: 1.5em;
    margin-bottom: 1%;
    width: 100%;
    align-self: flex-start;
}

.orderElementSummary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 30%;
    padding: 0 2% 0 0;
    text-align: left;
    box-sizing: border-box;
}

.orderElementSummaryQuantityPrice {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.orderElementSummaryPrice {
    font-size: 1.5em;
    width: fit-content;
}

.orderElementDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.orderElementSummaryMaterialColor {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.orderElementFilesMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 70%;
    height: 100%;
    background-color: var(--backgroundLightBlue);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
}

.orderElementFilesMessageHeader {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.orderElementFilesMessageButton {
    background-color: #ffffff;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    padding: 1.5%;
    user-select: none;
}

.orderElementFilesMessageButton:hover {
    background-color: var(--logoBlue) !important;
}

.orderElementFilesMessageContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.1s ease;
}

/* Files list styling */
.fileElement {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: baseline;
    padding: 1%;
    margin: 0.5vh 0;
    background-color: #ffffff;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    box-sizing: border-box;
}

.fileElementName {
    width: fit-content;
}

.fileElementRightPart {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fileElementSubPart {
    padding: 0 2.5% 0 2.5%;
    font-size: 0.9em;
    align-content: center;
}

.fileElementDate {
    text-wrap: wrap;
}

.fileElementDownload {
    padding: 1%;
    border-radius: 5px;
    background-color: var(--logoBlue);
    fill: #ffffff;
}

.fileElementDownload:hover {
    cursor: pointer;
    background-color: var(--backgroundLightBlue);
    transition: background-color 0.25s ease;
}

/* Chat Styling */
.chatFeed {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 2%;
}

.leftColumn {
    align-self: flex-start;
}

.leftColumnBubble {
    background-color: rgb(202, 212, 243);
}

.rightColumn {
    align-self: flex-end;
    margin-right: 3%;
}

.rightColumnBubble {
    background-color: var(--logoBlue);
    color: #ffffff;
    width: 100%;
}

.messageElement {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: fit-content;
    max-width: 70%;
    z-index: 15;
    margin-top: 1%;
    min-width: 30%;
}

.messageElementBody {
    margin: 2% 0 1% 0;
    padding: 2%;
    border-radius: 5px;
}

.messageElementSender {
    font-size: 1.25vh;
    font-weight: 325;
    margin-right: 1%;
    align-self: flex-start;
}

.messageElementDateTime {
    font-size: 60%;
    font-weight: 325;
    align-self: flex-end;
    color: #ffffff;
}

.chatInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

.chatFilesInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 8%;
    border-radius: 5px;
    padding: 1%;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;
}

.chatMessageInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    border-radius: 5px;
    padding: 0.75% 0.5% 0.75% 0.5%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.chatMessageTextarea {
    width: 90%;
    height: 50%;
    resize: none;
    font-size: 100%;
    font-family: LexendDeca, sans-serif;
    border: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
}

.chatMessageSendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1%;
    box-sizing: border-box;
    height: 100% !important;
    width: 8% !important;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .orderElement {
        height: fit-content;
    }

    .orderElementBody {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
    }

    .orderElementSummary {
        width: 100% !important;
        height: fit-content;
        margin: 0 0 2vh 0;
    }

    .orderElementState {
        padding: 1%;
        font-size: 3vh;
        text-wrap: nowrap;
    }

    .orderElementDate {
        margin-bottom: 1rem;
    }

    .orderElementFilesMessage {
        width: 100%;
        height: fit-content;
        max-height: 34vh;
        margin: 0.5vh auto;
        padding: 1% 0 0 0;
    }
}