#bodyContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 97.5vh;
}

#sidePanel {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#sidePanelStateButtonsContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#fablabLogo {
    width: 7.5vw;
    margin: 1vw 0 1vw 0;
}

#contentContainer {
    width: 100%;
    height: 100%;
    background-color: #2e4798;
    border-radius: 10px;
}