#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#fablabLogo {
    width: 7rem;
    margin: 1vh 0 1vh 0;
    background-color: #ffffff;
    border: 10px solid #ffffff;
    border-radius: 50%;
    transform: translateY(-15vh);
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #ffffff;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
    transform: translateY(-10vh);
}

#password {
    margin-bottom: 2vh;
}

.formTitle {
    font-size: 2vh;
    font-weight: 325;
    margin: 1.5vh 0 0.5vh 0;
}

#login {
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#login:hover {
    background-color: #0b248a;
    color: #ffffff;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    text-align: center;
}

#byGarage {
    font-size: 0.75rem;
}