#bodyContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

option {
    font-family: LexendDeca, sans-serif;
}

#sidePanel {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#fablabLogo {
    width: 7.5vw;
    margin: 1vh 0 1vh 0;
}

#sidePanelStateButtonsContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.sidePanelStateButton {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 10vw;
    height: 3vh;
    border-radius: 5px;
    font-size: 1vw;
    transition: background-color 0.5s ease;
    margin: 0.5vh 0 0.5vh 0;
}

.active {
    background-color: #2e4798 !important;
    color: #ffffff;
}

.sidePanelStateButton:hover {
    cursor: pointer;
}

/* peut etre faire apparaitre par colonne que par ligne pour que ce soit plus beau*/
#contentContainer {
    width: 80vw;
    height: 95%;
    background-color: #2e4798;
    border-radius: 10px;
    padding-left: auto;
    padding-right: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-wrap: clip;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    grid-template-rows: 50%;
}


.orderElement {
    display: flex;
    flex-direction: column;
    height: auto;
    width:65%;
    padding: 1vh 1vw 1vh 1vw;
    margin: 3vh auto 3vh auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.orderElementHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;   
}

.orderElementHeaderColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.orderElementText {
    font-size: 2.5vh;
    margin: 0.8vh 0 0.8vh 0;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.orderElementHeaderColumn > .orderElementText {
    max-width: 10vw;
}

.orderStateDropdown {
    font-family: LexendDeca, serif;
    border: none;
    border-radius: 5px;
    font-size: 2vh;
    max-width: 7xvw;
}

.orderElementDetails {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white !important;
    border: none !important;
    cursor: pointer !important;
    position: relative !important;
    height: auto;
    width: 100%;
    font-family: LexendDeca, sans-serif !important;
    font-size: 1rem !important;
    color: black !important;
}


.orderElementDetailsText {
    margin-left: auto !important; 
}

.orderElementDetailsIcon {
    width: 1rem !important;
    height: 1rem !important;
    position: absolute !important; 
    left: 50% !important;
    transform: translateX(-50%) !important;
    color: #2e4798 !important;
}

.orderElementDetails:hover .orderElementDetailsIcon {
    color: darkblue !important;
}

.orderStateDropdown {
    font-family: LexendDeca, serif;
    border: none;
    border-radius: 5px;
    font-size: 2vh;
    max-width: 7vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hover-text {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
