strong {
    color: #2e4798;
}

option {
    font-family: LexendDeca, sans-serif;
}

.required:after {
  content:" *";
  color: red;
}

.inputStyle {
    font-family: LexendDeca, serif;
    background-color: #e6e9f0;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    height: 3vh;
    width: 15vw;
    font-size: 2vh;
    margin-bottom: 2vh;
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: LexendDeca, serif;
}

#fablabLogo {
    width: 7.5vw;
    margin: 1vw 0 1vw 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

#loginForm.disappear {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.hideElement {
    opacity: 0;
    transition: opacity 1s;
}

#password {
    margin-bottom: 2vh;
}

.formTitle {
    font-size: 2vh;
    font-weight: 325;
    margin: 1.5vh 0 0.5vh 0;
}

.blueButton {
    background-color: #2E4798;
    color: #ffffff;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 275;
    padding: 0.5vh 0 0.8vh 0;
    margin: 2vh 0 2vh 0;
    font-size: 2vh;
}

.blueButton:hover {
    background-color: #1E2E5C;
    cursor: pointer;
}

hr.solid {
    border-top: 1px solid #3e3e3e;
    width: 25vw;
}

#orderForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 36.5vw;
    z-index: 0;
    filter: blur(2px);
    pointer-events: none;
}

#subform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 1vh 0 1vh 0;
}

.subFormElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
}

.subFormLine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
}

#orderMaterial, #orderColor, #orderQuantity {
    width: 5vw;
}

#orderQuantity {
    width: 3vw;
}

#orderQuestions {
    width: 100%;
    height: 16vh;
    line-height: 2vh;
    resize: none;
}

#orderFile {
    padding: 1px 1px 1px 1px;
}

#goodPracticesTextContainer {
    border-radius: 5px;
    margin: 2vh 0 2vh 0;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    padding: 0 1vw 0 1vw;
    text-align: justify;
}

#goodPracticesTextHeader {
    height: fit-content(2vh);
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 2vh;
    color: #2e4798;
}

#goodPracticesCheckContainer {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

#goodPracticesCheckText {
    font-size: 0.75vw;
}