@font-face {
    font-family: 'LexendDeca';
    src: url('../Assets/LexendDeca-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    src: url('../Assets/Cabin-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    src: url('../Assets/Manrope-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #ffffff;
    font-family: LexendDeca, serif;
}

.inputStyle {
    font-family: LexendDeca, serif;
    background-color: #e6e9f0;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.32);
    height: 3vh;
    width: 15vw;
    font-size: 2vh;
    margin-bottom: 2vh;
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}


#fablabLogo {
    width: 7.5vw;
    margin: 1vw 0 1vw 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hideElement {
    opacity: 0;
    transition: opacity 1s;
}

.moveUp {
    transform: translateY(-25vh);
}

#password {
    margin-bottom: 2vh;
}

.formTitle {
    font-size: 2vh;
    font-weight: 325;
    margin: 1.5vh 0 0.5vh 0;
}

.blueButton {
    background-color: #2E4798;
    color: #ffffff;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 275;
    padding: 0.5vh 0 0.8vh 0;
    margin: 2vh 0 2vh 0;
    font-size: 2vh;
}

.blueButton:hover {
    background-color: #1E2E5C;
    cursor: pointer;
}

hr.solid {
    border-top: 1px solid #3e3e3e;
    width: 25vw;
}

#orderForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 36.5vw;
    transition: transform 2s ease-in-out;
}

#subform {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding: 1vh 0 1vh 0;
}

.subFormColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
}

#orderQuantity {
    width: 5vw;
}

#orderQuestions {
    width: 100%;
    height: 16vh;
    line-height: 2vh;
    resize: none;
}

#orderFile {
    padding: 1px 1px 1px 1px;
}

#goodPractices {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

#goodPracticesText {
    font-size: 0.75vw;
}